/* Common style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

html {
    background-color: #f9f9fa;
    font-family: sans-serif;
}

.hidden {
    display: none !important;
}

.primary-button {
    height: 38px;
    min-width: 50px;
    background-color: #01a6ff;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 300ms;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.primary-button:hover {
    background-color: #0492df;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    width: 300px;
    height: 400px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    overflow: hidden;
}

/* Login box style */
.login-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 32px;
}

.slogan {
    position: absolute;
    bottom: 10px;
    color: #888;
    font-size: 13px;
}

.logo img {
    width: 70px;
}

.logo {
    margin-bottom: 30px;
}

.form-input {
    height: 38px;
    padding: 8px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 8px;
    transition: 300ms;
}

.name-input:focus {
    border: 1px solid #01a6ff;
}

.form-button {
    margin-top: 8px;
    width: 100%;
}

.navigate-message {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.navigate-message button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 12px;
    margin-left: 4px;
    cursor: pointer;
    transition: 300ms;
}

.navigate-message button:hover {
    color: #01a6ff;
}

/* Chat box style */

.menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 6px;
    height: 40px;
    border-bottom: 1px solid #ccc;
}

.logout-button {
    background-color: rgb(255, 75, 75);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.chat-box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.message-list {
    flex: 1;
}

.input-wrapper {
    width: 100%;
    display: flex;
}

.message-input {
    flex: 1;
    outline: none;
    border: none;
    padding: 0 10px;
    border-top: 1px solid #ccc;
}

.send-button {
    border-radius: 0px;
}

.message-list {
    padding: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.message-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 8px;
}

.message-item.me {
    align-items: flex-end;
}

.message-item.me .message-content {
    background-color: #01a6ff;
    color: #fff;
}

.message-content {
    max-width: 200px;
    padding: 8px;
    background-color: #ccc;
    border-radius: 8px;
}

.message-item .username {
    font-size: 12px;
    margin-bottom: 4px;
}
